<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-3 col-md-3">
        <div class="footer-item">
          <img src="/assets/images/logo-light.png" alt="">
          <p>Изготовление высокоточных деталей на ЧПУ станках</p>
          <p>Токарные и фрезерные работы любой сложности</p>
          <p>Доставка ТК по всей России</p>
        </div>
      </div>

      <div class="col-sm-3 col-md-3">
        <div class="footer-item">
          <div class="footer-title">
            Услуги
          </div>
          <ul class="list">
            <li>
              <a href="#">Токарное изготовление деталей</a>
            </li>
            <li>
              <a href="#">Токарно-фрезерные работы</a>
            </li>
            <li>
              <a href="#">Фрезеровка</a>
            </li>
            <li>
              <a href="#">Лазерная резка металла</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-3 col-md-3">
        <div class="footer-item">
          <div class="footer-title">Компания</div>
          <ul class="list">
            <li>
              <a href="/" title="Главная">Главная</a>
            </li>
            <li>
              <a href="#about" title="О компании">О компании</a>
            </li>
            <li>
              <a href="#" title="Услуги">Услуги</a>
            </li>
            <li>
              <a href="#works" title="Наши работы">Наши работы</a>
            </li>
            <li>
              <a href="#contacts" title="Контакты">Контакты</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-3 col-md-3">
        <div class="footer-item">
          <a name="contacts"></a>
          <div class="footer-title">Конаткты</div>
          <ul class="list">
            <li><strong>Офис:</strong> г. Москва, ул. Житомирская 23, офис 5</li>
            <li><strong>Производство:</strong> г. Ижевск, ул. Чапаева, 43</li>
            <li><strong>E-mail: </strong><a href="mailto: {{email}}">{{email}}</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="fcopy">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <p class="ftex">©2020 - 2024 «металлообработка» – Изготовление изделий по чертежам заказчика и
            токарные работы любой сложности на заказ в Москве.</p>
        </div>
      </div>
    </div>
  </div>
</div>
