<app-header (clickCallBack)="openModal($event)"/>
<div>
  <div id="slides" class="section banner slides-banner">
    <div class="header-slider">
      <div class="container">
        <div class="shadow">
          <h1>Токарные работы по металлу на станках ЧПУ</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="section services overlap">
    <div class="section feature overlap">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12">
            <a name="works"></a>
            <h2 class="section-heading">Наши работы</h2>
          </div>
        </div>
        <div class="row grid-services">
          <app-work-block imageName="tokarniye_raboty_1.jpg" serviceName="Токарные работы из металла"/>
          <app-work-block imageName="tokarniye_raboty_2.jpg" serviceName="Токарные работы - Валы"/>
          <app-work-block imageName="tokarniye_raboty_3.jpg" serviceName="Токарная обработка стали"/>
          <app-work-block imageName="tokarniye_raboty_4.jpg" serviceName="Токарные работы по металлу"/>
          <app-work-block imageName="tokarniye_raboty_5.jpg" serviceName="Токарная обработка стали"/>
          <app-work-block imageName="tokarniye_raboty_6.jpg" serviceName="Токарные работы по металлу"/>
          <app-work-block imageName="tokarniye_raboty_7.jpg" serviceName="Токарная обработка стали"/>
          <app-work-block imageName="tokarniye_raboty_8.jpg" serviceName="Токарные работы по металлу"/>
          <app-work-block imageName="tokarniye_raboty_9.jpg" serviceName="Токарная обработка черной стали"/>
          <app-work-block imageName="tokarniye_raboty_10.jpg" serviceName="Токарные работы по металлу"/>
          <app-work-block imageName="tokarniye_raboty_11.jpg" serviceName="Токарная механическая обработка металла"/>
          <app-work-block imageName="tokarniye_raboty_12.jpg" serviceName="Токарные работы по металлу"/>
        </div>
        <div class="order">
          <a class="btn btn-cta" (click)="openModal('Заказать услуги токаря')">Заказать услуги токаря</a>
        </div>
      </div>
    </div>
    <div class="section project">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12">
            <h2 class="section-heading white">Какие материалы мы обрабатываем</h2>
          </div>
          <div class="text text-white">
            <div class="col-sm-6 col-md-6">
              <p>Наша компания специализируется на токарных работах и обрабатывает различную продукцию на заказ. Мы работаем с металлом, включая:</p>
              <ul>
                <li>нержавейку(нержавеющую сталь)</li>
                <li>Цветные металлы: медь, латунь, алюминий и т.д</li>
                <li>бронзу</li>
                <li>титан</li>
                <li>чугун</li>
                <li>сплавы</li>
              </ul>
            </div>
            <div class="col-sm-5 col-md-5">
              <p>Кроме того, мы также обрабатываем ряд пластиков, включая:</p>
              <ul>
                <li>капролон</li>
                <li>полиамид</li>
                <li>фторопласт</li>
              </ul>
              <p>А также: текстолит, эбонит, молибден, оргстекло, полиуретан</p>
              <p>Мы гордимся тем, что можем предложить широкий спектр материалов для наших клиентов, чтобы удовлетворить их потребности в различных проектах. Независимо от того, из чего вы хотите получить продукцию, мы готовы предоставить высококачественные токарные работы.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section feature overlap">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12">
            <h2 class="section-heading">Преимущества в технологии выполнения заказа</h2>
          </div>
        </div>
        <div class="row">
          <div class="text">
            <div class="col-sm-12 col-md-12">
              <p>Наша компания имеет ряд преимуществ в технологии выполнения заказа, которые позволяют нам гибко использовать различные материалы и обеспечивать высокое качество обработки.</p>
              <ol>
                <li>Возможность обработки различных материалов на одной установке. Это позволяет нам повысить производительность и снизить количество часов, необходимых для выполнения заказа. Максимальная скорость исполнения заказа является одной из наших основных целей.</li>
                <li>Универсальность и разнообразный инструментарий позволяют нам выполнять не только токарные работы, но и проводить фрезерные работы. Мы можем обрабатывать детали различных размеров и форм, обеспечивая стабильное качество и максимальную скорость исполнения заказа.</li>
                <li>Использование разных режущих пластин и качественных оправок дает нам возможность производить операции типа шлифовки или накатки. Это позволяет нам достичь высокого результата в финишной обработке.</li>
                <li>Способность работать с нестандартной продукцией и предоставление дополнительных инструментов для её производства. Это дает нам преимущество в выполнении заказов, которые требуют особых операций.</li>
                <li>Высокая скорость резания и меньшее количество проходов. Это позволяет нам сократить время и повысить эффективность процесса обработки, тем самым сохранив стабильное качество нашей технологии.</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section project">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12">
            <h2 class="section-heading white">
              Какие виды деталей мы производим
            </h2>
          </div>
          <div class="text text-white">
            <div class="col-sm-12 col-md-12">
              <p>Наша компания производит широкий спектр продуции, выполняя различные виды металлообработки. Мы специализируемся на изготовлении разнообразных металлических изделий, включая самые сложные задачи.</p>
              <p>Мы предлагаем следующие виды деталей:</p>
              <ul>
                <li>Штифты: делаем различных размеров и форм;</li>
                <li>Болты: всех типов и размеров для различных применений;</li>
                <li>Диски: делаем для различных индустрий, включая автомобильную и промышленную отрасли;</li>
                <li>Втулки, штифты, шпильки, пальцы;</li>
                <li>Фланцы, штуцеры, поршни;</li>
                <li>Оси и валы;</li>
                <li>Муфты и кольца;</li>
                <li>Фурнитура: создаем различные виды фурнитуры, включая ручки, замки, петли и другие.</li>
              </ul>
              <p>Все наши изделия производятся с использованием передовых технологий металлообработки, что гарантирует высокое качество и надежность. Мы готовы удовлетворить потребности клиентов в различных отраслях промышленности и предложить решения, соответствующие их требованиям.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section feature overlap">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12">
            <h2 class="section-heading">Виды токарных операций</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-5 col-md-5">
            <ul>
              <li>Одним из основных видов токарных операций является точение наружных и внутренних поверхностей. Точение наружных поверхностей позволяет создавать изделия с высокой точностью и гладкостью поверхности. Внутреннее точение позволяет обрабатывать внутренние поверхности деталей;</li>
              <li>Создание изделий различных форм: конусные, цилиндрические, фасонные и т.д.;</li>
            </ul>
          </div>
          <div class="col-sm-7 col-md-7">
            <ul>
              <li>С разным типом резьбы:
                <ul>
                  <li>метрические и дюймовые;</li>
                  <li>с переменным шагом и трапецеидальные;</li>
                </ul>
              </li>
              <li>Вытачивание пазов, галтелей и канавок;</li>
              <li>Зенкерование;</li>
              <li>Накатывание резьбы (нарезка резьбы);</li>
              <li>Сверление отверстий;</li>
              <li>Накатывание рифлений, вытачивание канавок</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="section project">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12">
            <h2 class="section-heading white">Для чего требуется точение на токарном станке?</h2>
          </div>
          <div class="text text-white">
            <div class="col-sm-12 col-md-12">
              <p>Точение является одним из наиболее универсальных методов обработки материалов. Этот вид токарной работы требуется в самых разных ситуациях, когда возникает необходимость в создании или модернизации металлоизделий.</p>
              <p>Например, если сломалась деталь, и нет возможности купить новую, либо она больше не производится или стоит дорого, то можно сделать новую. Если есть заготовка, то ее можно расточить или подточить под нужные размеры и форму.</p>
              <p>Также точение на токарном оборудовании может быть необходимо при модернизации техники. Если для этой модернизации требуется новая деталь, которой нет в производстве, то можно создать образец по эскизу или чертежу и затем начать серийное производство этой детали. С помощью токарного станка можно изготовить несколько таких деталей, начиная даже от одной штуки.</p>
              <p>В нашей компании вы можете заказать выполнение точения на токарном оборудовании в самых разных ситуациях. Мы предлагаем изготовление изделий по эскизам и чертежам, а также по расточке и подточке существующих заготовок. Наша команда специалистов обеспечит высокое качество и точность каждого изделия, соответствующие вашим требованиям.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section feature overlap">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12">
            <a name="about"></a>
            <h2 class="section-heading">Преимущества нашей компании</h2>
          </div>
        </div>
        <div class="row">
          <div class="text">
            <div class="col-sm-12 col-md-12">
              <p>Наша компания предоставляет высококачественные токарные услуги. Мы являемся профессиональными специалистами, обладающими большим опытом и знаниями в области токарной обработки металлов.</p>
              <ul>
                <li>Один из наших главных преимуществ - это быстрый расчет стоимости заказа. Мы понимаем, что время - драгоценный ресурс, поэтому стремимся оперативно предоставить клиентам информацию о стоимости изготовления деталей.</li>
                <li>У нас вы найдете большой выбор услуг по токарной обработке. Мы готовы выполнять заказы любой сложности и в любое время. Работаем мы в режиме гибкого графика, чтобы удовлетворить потребности клиентов.</li>
                <li>Наша компания предлагает возможность изготовления образцов без внесения аванса. Мы принимаем заказы любого объема и готовы выполнить их в кратчайшие сроки.</li>
                <li>Цена на наши работы всегда ниже, чем у конкурентов. Мы предлагаем различные скидки и гибкие условия сотрудничества. Все это делает нас более привлекательными для клиентов.</li>
                <li>В работе мы используем современное оборудование и работаем только с опытными мастерами. Это позволяет нам гарантировать высокий уровень качества.</li>
                <li>Наше производство представляет собой цех с парком токарных станков, которое находится в г. Ижевск, поэтому мы можем позволить себе делать продукцию по лучшим ценам, ниже чем в Москве и Московской области.</li>
              </ul>
              <p>Если вам необходима токарная обработка, оставьте заявку на нашем сайте. Наш специалист свяжется с вами в кратчайшие сроки и ответит на все интересующие вас вопросы.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section project">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12">
            <h2 class="section-heading white">Стоимость токарных работ</h2>
          </div>
          <div class="text text-white">
            <div class="col-sm-12 col-md-12">
              <p>Стоимость услуг определяем в индивидуальном порядке и зависит от сложности работы.</p>
              <p>Расчет цены производим быстро, сразе после получения всех материалов (описание работы, чертежи, эскизы). С момента получения, в течение дня Вам перезвонит наш менеджер, отправит коммерческое предложение и согласует все технические требования и условия.</p>
              <table>
                <tbody>
                <tr>
                  <td>Токарная обработка металла (нержавеющие, легированные стали) - от 30 руб./мин (от 1800 руб/час).</td>
                  <td>Токарная обработка (алюминиевые, бронзовые, медные сплавы) - от 20 руб./мин. (от 1200 руб/час)</td>
                  <td>Токарная обработка (полиамиды, фторопласт, полиациталь) - от 15 руб./мин. (900 руб/час)</td>
                </tr>
                <tr>
                  <td colSpan='3' class="center" style="white-space: nowrap">
                    Итоговая сумма заказа на токарные работы - от 10000 р.
                  </td>
                </tr>
                </tbody>
              </table>
              <div class="order">
                <a  class="btn btn-cta" (click)="openModal('Заказать услуги токаря')">Узнать цену</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section blog">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12">
            <h2 class="section-heading">Типы станков с ЧПУ</h2>
          </div>
          <div>
            <div class="text">
              <div class="col-sm-12 col-md-12">
                <p>Станки с числовым программным управлением (ЧПУ) - это современное оборудование, которое применяется в различных областях работы с металлом. Они позволяют автоматизировать процесс обработки деталей и обеспечивают высокую точность и качество работы.</p>
                <p>Станки с ЧПУ подразделяются на несколько типов: карусельные, винторезные, цилиндрические и конические.</p>
                <ol>
                  <li>Карусельные станки: применяются для обработки деталей большого диаметра.</li>
                  <li>Винторезные: для заготовок цилиндрической и конической формы, а также для нарезания резьбы.</li>
                  <li>Револьверные: предназначены для обработки заготовок с калиброванным прутком.</li>
                  <li>Лоботокарные: применяются для обработки цилиндрических, конических и фасонных поверхностей.</li>
                </ol>
                <p>Вся обработка металла происходит под постоянным контролем процесса, а мастер всегда имеет под рукой необходимый измерительный инструмент, такой как штангенциркуль, микрометр, нутромер и др.</p>
                <p>Преимущества использования станков с ЧПУ включают высокую точность обработки деталей, большую производительность, возможность программировать различные операции обработки. Кроме того, такие станки позволяют сократить время и затраты на производство, а также увеличить эффективность работы.</p>
                <h3>Параметры</h3>
                <ul>
                  <li>Максимальная длина заготовки – 1000 мм.</li>
                  <li>Рабочий диаметр - до 450 мм.</li>
                  <li>Сверление отверстий от 0,3 мм.</li>
                  <li>Точность до 0,01 мм.</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section bglight">
      <app-order-block (clickCallBack)="openModal($event)"/>
    </div>
  </div>
</div>
<app-footer/>
<p-toast></p-toast>
